* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width:100%;
}
html {
    font-size:62.5%;
}

a {
    font-weight: 600;
    text-decoration: none;

}
body {
    background-image: url("../projectImgs/pic5.jpg");
    background-color: #4f4f4f;
    background-size:cover;
    background-position: center;
    background-repeat:repeat;
    font-size: 1.6rem;
    align-items: center;
    line-height: 1.3;
    color: lightpink;
}
/* Meyer's reset above. Meyer's reset above. Meyers reset above. */


/* Add CSS styling here */
/* * {
    border: 1px solid black;
} */



/* container */ 
header { 
    background-color: #001c20;
    color: #c796e6;
    display: flex;
    width: 100%;
    justify-content:space-between;
    position: fixed;
    margin-bottom: 6rem;
}
/* left*/ h2 { 
    font-family: 'Amatic SC', cursive;
    width: 100%;
    font-size: 3rem;
    padding-left: 1rem;
}
/* in left*/ .button {
    font-family: 'Indie Flower', cursive;
    background-color: #001c20;
    color: #c796e6;
    padding: 1.5%;
    border: .3px solid lightblue;
    border-radius: 10px;
    margin-left: 1rem;
}
/* right*/ nav { 
    display:flex;
    justify-content:flex-end;
    width: 100%;
    margin-right: .5rem;
    
}


.topcontainerIndex {
    background-image: url("/projectImgs/aSign1.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0 auto;
    width: 50%;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.topcontainerIndex div {
    margin-right: 5rem;
}
h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    color: yellowgreen;
    text-align: center;

}
h1 {
    font-family: 'Amatic SC', cursive;
    color: #c796e6;
    font-size: 4.5rem;
    text-align: center;
    padding: 1rem;
}


img {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0rem;
    padding-top: 30px;
}


.imagesIndex div {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.imagesIndex p {
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
    width:100%;
    text-align: center;
    font-weight: 600;
}
.imagesIndex div div {
    flex-direction: column;
}
.squaresIndex {
    width: 60%;
}
.squaresIndex:hover {
    filter: invert(100);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: #001b22;
    border-top: 5px double #197284;
    margin-top: 4rem;
    padding-bottom: 2rem;
    color: #0099CC;
}

footer div{
    display:flex;
    width: 50%;
    justify-content: center;
}
i {
    color: #0099CC;
}

/* .foot {
    width: 10%;
    height:15%;
    margin-bottom: 4px;
} */

.middleIndex {
    text-align: center;
    width: 100%;
    justify-content: center;
    background-image: url('projectImgs/aSign1.jpg');
    margin: 1rem 0 2rem;
    padding: 0 1rem;
    border: 1px dotted #197284;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
    width: 50%;
    text-decoration: none;
    color: #985b54;
}

/* MOBILE SIZING */

/* container */
@media (max-width:800px) {

    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    button {
        font-size: .9rem;
        width: 90px;
        height: 40px;
        padding: -1rem;
        margin-right: .3rem;
        margin-top: 15px;
    }
.topcontainerIndex {
    background-position: left;
    align-items: start;
    
}
    .topcontainerIndex h1 {
       font-size: 3rem;
       bottom: 300px;
    }

    .topcontainerIndex div{
        margin: 0;
        margin-top: 4rem;
        margin-right: 2rem;
    }
    h3 {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        padding: 0rem;
    }

    .imagesIndex div p {
        font-size: 1.4rem;
    }

    .imagesIndex {
        margin-bottom: 2.5rem;
    }

    footer {
        border-top: none;
        padding-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 1.5rem;
    }
    footer div {
        width: 100%;
        text-align: center;
margin-left:100px;
height: 80%;


}

@media (max-width:500px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
    }

    h2 {
        margin: 0 auto;
        font-size: 1.9rem;
    }

    nav {
        flex-direction:column;
        width: 50%;
        margin: .5rem 0;
    }


    .topcontainerIndex {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .topcontainerIndex div {
        display: none;
    }

     .imagesIndex div p {
        font-size: 1.4rem;
    }

    .imagesIndex {
        margin-bottom: 2.5rem;
        flex-direction: column;
        width: 100%;

    }
    .imagesIndex div {
        flex-direction: column;
        width: 100%;

    }
    .imagesIndex div div {
        width: 100%;
    }
    .squaresIndex {
        width: 70%;
    }

    footer {
        margin-left: -25px;
    }
    

}